@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

ul,
ol,
li {
  list-style: none;
}

a {
  text-decoration: none;
}

footer {
  width: 100%;
  margin-top: 250px;
}
footer .footer_area {
  width: 100%;
  height: 200px;
  background-color: #6d4bde;
}
footer .footer_area .footer1 {
  padding: 60px 0px 0px 200px;
  font: normal 14px/2 "inter";
  color: #fff;
}
footer .footer_area .footer2 {
  margin: 10px 0px 0px 200px;
  font: normal 14px/2 "inter";
  color: #fff;
}
footer .footer_area .footer_ico {
  margin: -50px 100px 0px 0px;
  display: flex;
  justify-content: right;
  text-align: center;
}
footer .footer_area .footer_ico ul li {
  float: left;
  margin-right: 30px;
  padding: 10px;
}
footer .footer_area .footer_ico ul li i {
  width: 50px;
  height: 50px;
  border: 2px solid #fff;
  border-radius: 50%;
  background-color: #fff;
  padding-top: 8px;
}

.intro .wrapper {
  width: 100%;
  height: 100vh;
  overflow: hidden;
}
.intro .wrapper .intro_txt {
  position: relative;
  z-index: 500;
}
.intro .wrapper .intro_txt .intro_titie {
  margin-top: 300px;
}
.intro .wrapper .intro_txt .intro_titie h2 {
  display: flex;
  justify-content: center;
  text-align: center;
  font: bold 64px/1.4 "inter";
  color: #6d4bde;
  letter-spacing: 5px;
}
.intro .wrapper .intro_txt .intro_info {
  margin-top: 110px;
  justify-content: center;
  text-align: center;
  font: medium 18px/1.4 "inter";
  color: #121212;
  letter-spacing: -1px;
}
.intro .wrapper .intro_txt .intro_info p {
  margin-top: 14px;
}
.intro .wrapper .intro_txt .intro_scroll {
  position: relative;
}
.intro .wrapper .intro_txt .intro_scroll .vt_line {
  justify-content: center;
  text-align: center;
  border: 5px solid black;
  width: 0.1px;
  height: 50px;
}
.intro .wrapper .intro_txt .intro_scroll .mouse_ico {
  justify-content: center;
  text-align: center;
  width: 80px;
  height: 80px;
}
.intro .wrapper .intro_txt .intro_bgwrap {
  position: absolute;
}
.intro .wrapper .intro_txt .intro_bgwrap .left_top1 {
  object-position: 60 10 10 10px;
}

.skill .wrapper {
  width: 100%;
  height: 100vh;
  overflow: hidden;
}
.skill .wrapper .skill_title {
  position: relative;
  margin-top: 210px;
}
.skill .wrapper .skill_title h2 {
  display: flex;
  justify-content: center;
  text-align: center;
  font: bold 58px/1.4 "inter";
  color: #121212;
  letter-spacing: 5px;
}
.skill .wrapper .skill_wrap {
  position: relative;
}
.skill .wrapper .skill_wrap ul {
  width: 100%;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
}
.skill .wrapper .skill_wrap ul li {
  width: 15%;
  float: left;
  margin-top: 320px;
  margin-right: 80px;
  justify-content: center;
  text-align: center;
  align-items: center;
}
.skill .wrapper .skill_wrap ul li:nth-of-type(5) {
  margin-right: 0;
}
.skill .wrapper .skill_wrap ul li .skill_icon img {
  width: 100px;
  height: 100px;
}
.skill .wrapper .skill_wrap ul li .skill_name {
  margin-top: 30px;
  font: normal 24px/1.4 "inter";
  color: #121212;
  letter-spacing: -2px;
}
.skill .wrapper .skill_wrap ul li .skill_info {
  margin-top: 10px;
  font: 16px/1.4 "inter";
  color: #121212;
  letter-spacing: -1.6px;
}

.project .wrapper {
  width: 100%;
  height: 100vh;
}
.project .wrapper .project_item {
  position: relative;
}
.project .wrapper .project_item ul {
  display: flex;
  align-content: flex-start;
  flex-direction: column;
  font-weight: wrap;
  overflow: auto;
}
.project .wrapper .project_item ul li {
  margin-top: 200px;
  justify-content: center;
  text-align: center;
  align-items: center;
}

.contact {
  position: relative;
}
.contact .wrapper {
  width: 100%;
}
.contact .wrapper .contact_txt {
  margin-top: 300px;
}
.contact .wrapper .contact_txt > h2 {
  display: flex;
  justify-content: center;
  text-align: center;
  font: bold 58px/1.4 "inter";
  color: #121212;
  letter-spacing: -3px;
}
.contact .wrapper .contact_txt > p {
  display: flex;
  justify-content: center;
  text-align: center;
  margin-top: 30px;
  font: normal 18px/1.4 "inter";
  color: #121212;
  letter-spacing: -1px;
}
.contact .wrapper .contact_resume a {
  display: flex;
  justify-content: center;
  text-align: center;
  margin-top: 50px;
  font: bold 18px/1.4 "inter";
  color: #121212;
  letter-spacing: -1px;
}

/*# sourceMappingURL=style.css.map */
