.intro {
	.wrapper {
		width: 100%;
		height: 100vh;
		overflow: hidden;

		.intro_txt {
			position: relative;
			z-index: 500;

			.intro_titie {
				margin-top: 300px;

				h2 {
					display: flex;
					justify-content: center;
					text-align: center;
					font: bold 64px/1.4 'inter';
					color: #6d4bde;
					letter-spacing: 5px;
				}
			}

			.intro_info {
				margin-top: 110px;
				justify-content: center;
				text-align: center;
				font: medium 18px/1.4 'inter';
				color: #121212;
				letter-spacing: -1px;

				p {
					margin-top: 14px;
				}
			}

			.intro_scroll {
				position: relative;

				.vt_line {
					justify-content: center;
					text-align: center;
					border: 5px solid black;
					width: 0.1px;
					height: 50px;
				}
				.mouse_ico {
					justify-content: center;
					text-align: center;
					width: 80px;
					height: 80px;
				}
			}

			.intro_bgwrap {
				position: absolute;

				.left_top1 {
					object-position: 60 10 10 10px;
				}
			}
		}
	}
}
